.article {
		background: #FBFCFC;
		padding: 20px 35px;
		padding-bottom: 40px;
		position: relative;
		margin-top: 5px;
		transition: margin-top .75s linear;


	&--no-padding {
		padding: 0;
		display: block;
	}

	@mixin atMedium {
		margin-top: -100px;
	}
	
	&__meta {
		text-align: center;

		&-date {
			display: block;
			color: #CACFD2;
		}

		&-tags {
			margin: 0 0 10px 0;
			padding: 0;
			display: inline-block;
			width: 800px;
			max-width: 90%;
			margin-left: auto;
			margin-right: auto;
		}

		&-tags a {
			display: inline-block;
			margin: .2em;
			padding: .4em;
			font-size: .6rem;
			border-radius: 30px;
			border: solid 1px #20B2AA;
			text-decoration: none;
			background-color: transparent;

			@mixin atMedium {
				font-size: .75rem;
				padding: .4em;
			}
		}

		&-tags a:hover {
			color: #fff;
			background-color: #20b2AA;
		}

		&-cat {
			display: block;
			color: #CACFD2;
		}
	}
	
	& img {
		width: auto;
		max-width: 100% !important;
		height: auto !important;
		box-shadow: 0 0 18px grey;
	}

	& .extend {
		max-width: 100%;

		@mixin atDesktop {
			width: 125%;
			max-width: 125% !important;
			height: auto !important;
			position: relative;
			transform: translateX(-12%);
			box-shadow: 0 2px 15px grey;
		}
	}

	& figure {
		max-width: 100% !important;
	}

	& iframe {
		max-width: 100% !important;	
	}

	&--project {
		display: block;
		margin-top: 40px;
		@mixin clearfix;

		&-left {
			padding: 5px;
			margin: 0;
			display: block;
			width: 100%;

			@mixin atMedium {
				float: left;
				width: 50%;
			}			

			& h1 {
				margin: 0;
				padding: 0;

				& a {
					font-size: 2.3rem;
					text-decoration: none;
				}
			}
		}

		&-right {
			width: 100%;
			display: block;
			padding: 0;
			margin: 0;
			@mixin atMedium {
				float: right;
				width: 50%;	
			}
		}
	}

}

