.comments {

	&__outer-container {
		margin-top: 10px;
		
		@mixin atMedium {
			margin-top: 0;	
		}		

		@mixin atMedium {
			margin-top: 5px;
		}
	}
	
	&__title-container {
		padding: 10px 15px;
		background: #FBFCFC;
		@mixin clearfix;
		z-index: 5;
		transition: box-shadow .250s ease-in;
		margin-bottom: 16px;

		&:hover {
			cursor: pointer;
			box-shadow: 0 0 10px grey;
		}

		@mixin atMedium {
			padding: 10px 25px;
		}
	}
	
	&__title {
		margin: 0;
		float: left;
		font-size: 1.0rem;

		@mixin atMedium {
			font-size: 1.6rem;
		}

		&-count {
			font-weight: 100;
			color: #169B93;
		}

		&-toggle {
			height: 24px;
			width: 24px;
			display: inline-block;
			float: right;
			background-image: url('../../images/icons/toggle/chevrons-down.svg');
			background-size: cover;
			cursor: pointer;
			z-index: 2;
		}

		&-toggle:hover {
			background-image: url('../../images/icons/toggle/chevrons-down-hover.svg');
		}
	}

	&__inner-container {
		display: none;
 		background: #FBFCFC;
 		padding: 10px 25px;

 		& textarea {
			height: 150px;
		}
	}

	&__inner-container--vis {
		display: block !important;
	}
}

.comment {
	
	/* Top level comment list */
	&-list {
		list-style: none;
		padding-left: 0;

		/* Sub level comment list */
		& .children {
			list-style: none;
		}
	}

	&-body {
		margin: 10px 0;
	}

	&-meta {
		border: solid 1px #2c5570;
		border-top-right-radius: 5px;
		border-top-left-radius: 5px;
		padding: 5px 10px;
		height: 62px !important;
		overflow-y: hidden;
		display: block;
		width: 100%;
		background: rgba(21, 67, 96, 0.9);
		@mixin clearfix;

		& .comment-author {
			float: left;
			height: 50px;

			& img {
				min-height: 50px;
				border-radius: 75px;
				max-height: 50px;
				width: auto;
				max-width: 50px;
			}

			& .fn {
				padding-left: 10px;
				font-weight: normal;
				font-size: 1.0rem;
				position: relative;
				top: -18px;
				color: #fff;

				@mixin atMedium {
					font-size: 1.2rem;
				}

				& .url {
					font-size: 1.0rem;
					text-decoration: none;

					@mixin atMedium {
						font-size: 1.2rem;		
					}

					&:hover {
						text-decoration: underline;
						color: #20b2aa;
					}
				}
			}

			& .says {
				display: none;
			}
		}

		& .comment-metadata {
			float: right;
			position: relative;
			top: 15px;

			& a {
				font-size: 0.75rem;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
					color: #20b2aa;
				}
			}
		}	
	}

	.comment-awaiting-moderation {
		display: none;
	}

	&-content {
		border: solid 1px #2c5570;
		border-top: none;
		padding: 5px 10px;
	}

	& .reply {
		display: block;
		width: 100%;
		width: 100%;
		
		border: solid 1px #2c5570;
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;
		border-top: none;
		@mixin clearfix;
	}

	&-reply-link {
		padding: 6px 20px;
		text-decoration: none;
		font-size: 1.0rem;		
		display: inline-block;		
		text-align: center;
		float: right;
		width: 25%;
	}

	&-reply-link:hover {
		background-color: rgba(21,67,96,.9);
		text-decoration: none;
		color: #fff;
	}

}