.footer {
	min-height: 300px;
	width: 100%;
	margin-top: 50px;
	margin-bottom: 0;
	padding-bottom: 30px;
	background: #FBFCFC;
	padding-top: 30px;

	&__blurb {
		padding: 20px 25px 20px 25px;
		margin: 0;
	}

	&__social {
		
	}
	
}