.monthly-focus {

	&__container {
		padding: 25px 10px;
		background-image: url('../../images/default/patterns/pattern.png');
		background-size: contain;
		text-align: center;
		margin-bottom: 0;
	
		@mixin atMedium {
			margin-bottom: 100px;
		}
	}

	&__title {
		font-size: 1.4rem;

		@mixin atMedium {
			font-size: 2.5rem;
			margin-bottom: 0;
		}
	}

	&__desc_link {
		text-decoration: none;	
	}

	&__desc_link p:hover {
		color: #169b93;
		font-weight: 500;
	}

	&__desc:before {
		content: "";
    display: inline-block;
    background: url("../../images/icons/social/goal.png") no-repeat;
    width: 30px;
    height: 30px;
    margin: 0 10px 0 0;
    position: relative;
    top: 7px;
	}

	&__desc {
		font-size: 1.2rem;
		margin-top: 0;
		display: inline-block;
	}
}