header {
	margin: 0;
	padding: 0;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: transparent;
	z-index: 100;
}

.top-nav {
	
		&__container {
			background: transparent;
			padding: 10px 20px 15px 10px;

			@mixin atMedium {
				transition: background 0.45s ease;
				padding: 15px 20px 15px 10px;
				width: 100%;
			}
		}

		&__nav {
			visibility: hidden;
			display: none;
			position: fixed;
			top: 0;
			left: 0;
			bottom: 0;
			background: rgba(21, 67, 96, .9);
			height: 100%;
			width: 100%;


			@mixin atMedium {
				display: inline-block;
				visibility: visible;
				float: right;
				position: static;
				background: transparent;
				height: auto;
				width: auto;
			}

		}

		& .custom-logo-link img {
			display: block;
			max-width: 100px;
			margin-left: auto;
			margin-right: auto;

			@mixin atMedium {
				max-height: 55px;
				width: auto;
				display: inline-block;
				max-width: auto;
				margin: 0;
			}
		}

		&__toggle {
			background-image: url('menu-toggle.png');
			transition: background-image .5s linear;
			background-size: cover;
			position: absolute;
			top: 20px;
			right: 20px;
			display: block;
			height: 32px;
			width: 32px;
			z-index: 200;

			@mixin atMedium {
				display: none;
				visibility: hidden;
				z-index: -100;
			}
		}

		&__ul {
			position: relative;
			top: 30%;
			display: block;
			text-align: center;
			padding-left: 0;

			@mixin atMedium {
				list-style: none;
				padding-left: 0;
				display: inline-block;
				margin: 0;
				text-align: center;
			}

			& li {
				display: block;
				padding: 15px;

				@mixin atMedium {
					display: inline-block;
					font-size: 2.0rem;
					padding: 15px 10px;
				}
			
				& a {
					text-decoration: none;
					color: #fff;
					font-family: inherit;
					font-size: 1.5rem;
					font-weight: 500;

					@mixin atMedium {
						font-size: 1.25rem;
					}

					@mixin atDesktop {
						font-size: 1.5rem;
					}
				}
				
				& a:hover {
					color: #169B93;
					position: relative;
					text-decoration: none;
				}
			}
		}
}